*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Display", sans-serif;

}

.logo {
  width: 7rem;

}
.logo-div {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em 2em;
  
}

.logo-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #edecec;
}
.cart-icon {
  width: 6rem;
  margin-right: 2rem;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
.menu-icon {
  width: 2rem;
}
.menu-div {
  margin-left: 2rem;
  display: none;
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

}
.navbar-links {
  list-style: none;
  display: flex;
  
}
.nav-link {

}
.link {
  display: flex;
  text-decoration: none;
  color: black;
  padding: 1em 1.5em;
  letter-spacing: 0.2em;
  transition: all 0.3s ease-in-out;
}
.link:hover {
  background-color: #af6d33;
  color: #fff;

}
 @media screen and (max-width: 768px) {
  .navbar-links {
    display: none;
  }
  .logo {
    width: 5rem;
  
  }
  .menu-icon {
    width: 1.5rem;
  }

  .logo-div {
    padding: 0.8em 0;
  }
  .menu-div {
    display: inline-block;
  }
 }
 .sidebar {
  position: fixed;
  display: none;
  list-style: none;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 60%;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
 }
 .close-icon {
  width: 1.2rem;
 }

 /* Hero Section */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./assets/banner.png);
  background-size: cover;
  background-position: center;
  color: #fff;    
  text-align: center;
  padding: 0 2rem;

}
.main-text {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
.sub-text {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.btn {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  background-color: #fff;
  transition: all 0.18s ease-in-out;
  box-shadow: 0.4rem 0.4rem 0 #edecec;
}

.btn:hover {
  background-color: #af6d33;
  color: #fff;


}

.featured-section {
  text-align: center;
  padding: 0 2rem;
}
.section-title {
  height: 100vh;
  margin-top: 2.4rem;
  font-size: 1.5rem;
}